@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Google Sans", sans-serif;
}

@layer utilities {
  /* Mobile & Tablet (1023px) */
  @media (max-width: 768px) {
    .custom-scroll {
      -ms-overflow-style: none; /* IE/Edge */
      scrollbar-width: none; /* Firefox */
    }

    .custom-scroll::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }

  /* Desktop (1024px+) */
  @media (min-width: 768px) {
    .custom-scroll::-webkit-scrollbar {
      width: 6px;
    }

    .custom-scroll::-webkit-scrollbar-track {
      background: transparent;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
      background: #4b5563; /* gray-600 */
      border-radius: 9999px;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
      background: #6b7280; /* gray-500 */
    }

    .custom-scroll {
      scrollbar-width: thin;
      scrollbar-color: #4b5563 transparent;
    }
  }
}